<section class="section section-3-col section-slider">
    <div class="wrapper-xl">

        <header class="title-section">
            <span class="number-section">.02</span>
            <h2>Pourquoi passer la certification professionnelle OPQUAST?</h4>
        </header>

        <div class="grid-3">
            <div class="une-col">
                <figure class="contain">
                    <img src="http://www.opquast.viviane-gonzalez.fr/wp-content/uploads/2018/06/HOME_PK1_.svg" class="img-col" alt="Une certification reconnue">
                </figure>
                <div class="content">
                    <h4 class="title-4">Une certification reconnue</h4>
                    <div class="texte">
                        <p>La certification OPQUAST est reconnue par l’Etat (inscrite au CNCP) et par les professionnels du web</p>
                    </div>
                </div>
            </div>
            <div class="une-col">
                <figure class="contain">
                    <img src="http://www.opquast.viviane-gonzalez.fr/wp-content/uploads/2018/06/HOME_PK2.svg" class="img-col" alt="Un réseau de certifiés et de partenaires">
                </figure>
                <div class="content">
                    <h4 class="title-4">Un réseau de certifiés et de partenaires</h4>
                    <div class="texte">
                        <p>OPQUAST c’est : 3514 certifiés et 14 agences partenaires &amp; 70 établissements</p>
                    </div>
                </div>
            </div>
            <div class="une-col">
                <figure class="contain">
                    <img src="http://www.opquast.viviane-gonzalez.fr/wp-content/uploads/2018/06/HOME_PK3.svg" class="img-col" alt="Un examen accessible en ligne">
                </figure>
                <div class="content">
                    <h4 class="title-4">Un examen accessible en ligne</h4>
                    <div class="texte">
                        <p>Accédez à votre espace d’entraînement quand vous le souhaitez</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
