<section class="section section-3-col section-slider">
    <div class="wrapper-xl">
        <header class="title-section">
            <span class="number-section">.02</span>
            <h2 class="title-2">Pourquoi passer la certification professionnelle OPQUAST?</h4>
        </header>
        <div class="grid-3">
            <div class="une-col">
                <figure>
                    <img  src="http://www.statestreetdeals.com/img/upload/items/default-img/empty_img.gif" class="img-col">
                </figure>
                <div class="content">
                    <h4 class="title-4">Une certification reconnue</h4>
                    <p class="texte">La certification OPQUAST est reconnue par l'Etat et par les professionnels du web</p>
                </div>
            </div>
            <div class="une-col">
                <figure>
                    <img  src="http://www.statestreetdeals.com/img/upload/items/default-img/empty_img.gif" class="img-col">
                </figure>
                <div class="content">
                    <h4 class="title-4">Une certification reconnue</h4>
                    <p class="texte">La certification OPQUAST est reconnue par l'Etat et par les professionnels du web</p>
                </div>
            </div>
            <div class="une-col">
                <figure>
                    <img  src="http://www.statestreetdeals.com/img/upload/items/default-img/empty_img.gif" class="img-col">
                </figure>
                <div class="content">
                    <h4 class="title-4">Une certification reconnue</h4>
                    <p class="texte">La certification OPQUAST est reconnue par l'Etat et par les professionnels du web</p>
                </div>
            </div>
        </div>
    </div>
</section>
