<section class="section section-3-col section-slider">
    <div class="wrapper-xl">
        <div class="title-section">
            <span class="number-section">.02</span>
            <h4 class="title-3">Pourquoi passer la certification professionnelle OPQUAST?</h4>
        </div>
        <div class="grid-3">
            <div class="une-col">
                <img  src="http://www.statestreetdeals.com/img/upload/items/default-img/empty_img.gif" class="img-col">
                <h4 class="title-4">Une certification reconnue</h4>
                <p class="texte">La certification OPQUAST est reconnue par l'Etat et par les professionnels du web</p>
            </div>
            <div class="une-col">
                <img  src="http://www.statestreetdeals.com/img/upload/items/default-img/empty_img.gif" class="img-col">
                <h4 class="title-4">Une certification reconnue</h4>
                <p class="texte">La certification OPQUAST est reconnue par l'Etat et par les professionnels du web</p>
            </div>
            <div class="une-col">
                <img  src="http://www.statestreetdeals.com/img/upload/items/default-img/empty_img.gif" class="img-col">
                <h4 class="title-4">Une certification reconnue</h4>
                <p class="texte">La certification OPQUAST est reconnue par l'Etat et par les professionnels du web</p>
            </div>
        </div>
    </div>
</section>
