<section class="section section-presentation section-slider">
    <div class="wrapper-md">
        <div class="title-bloc" data-keyword="Présentation">
            <h2 class="title-3">
            <span>Présentation</span>
            La certification de référence pour la maîtrise  de la qualité web
            </h2>
        </div>
        <div class="grid-2">
            <div class="wrapper-video">
                <div>
                    <video controls="" autoplay="" name="media"><source src="https://website.oqs-cdn.com/wp-content/uploads/2017/06/Opquast-V6-480.mp4?_=1" type="video/mp4"></video>
                </div>
            </div>
            <div class="descriptif">
                <p>La certification Opquast est une certification professionnelle reconnue par l’Etat et inscrite à la commission nationale de la certification professionnelle (CNCP). Cette certification a pour objectif de former à la maîtrise de la qualité en projets web. La certification Opquast s’adresse donc à l’ensemble des professionnels amenés à concevoir, maintenir ou travailler sur un projet web ( déploiement d’un site web et de sa déclinaison au format mobile).</p>
                <p>Les étudiants et les demandeurs d’emploi peuvent également passer la certification Opquast. Etre certifié Opquast vous permet de vous différencier et de faire reconnaître vos compétences professionnelles dans le domaine du web.</p>
            </div>
        </div>
    </div>
</section>
