<section class="section section-illu left wrapper-xl">
    <div class="content">
        <div class="title-section">
            <span class="number-section">.01</span>
            <h2>Une certification recconue</h2>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        </p>
        <a href="#" title="Lorem ipsum" class="link link-yellow"><span>En savoir plus<span></a>
    </div>
    <figure class="cover">
        <img src="../../src/illu.svg" />
    </figure>
</section>
