<header class="home">
    {{> header-nav }}
</header>

<ul class="nav-slider">
    <li><button type="button" class="btn-slider triggered" data-target="0"><span>01</span></button></li>
    <li><button type="button" class="btn-slider" data-target="1"><span>02</span></button></li>
    <li><button type="button" class="btn-slider" data-target="2"><span>03</span></button></li>
    <li><button type="button" class="btn-slider" data-target="3"><span>04</span></button></li>
</ul>

<body class="slider">
        {{> header-banner-certification }}

        {{> block-presentation-certif }}

        {{> block-section-timeline }}
        
        {{> block-tarifs }}
        
        {{> footer-footer }}

</body>
