{{> header-banner-checklist }}
<body>
    
    <div class="wrapper-xl">
        {{> header-sous-menu-checklist }}
        {{> block-filter-checklist }}
    </div>

    <div class="wrapper-md">
        {{> block-critere-item }}
        {{> block-pagination }}
    </div>

</body>
{{> footer-footer }}
