<header class="home">
    {{> header-nav-home }}
</header>

<ul class="nav-slider">
    <li><button type="button" class="btn-slider triggered" data-target="0"><span>01</span></button></li>
    <li><button type="button" class="btn-slider" data-target="1"><span>02</span></button></li>
    <li><button type="button" class="btn-slider" data-target="2"><span>03</span></button></li>
    <li><button type="button" class="btn-slider" data-target="3"><span>04</span></button></li>
    <li><button type="button" class="btn-slider" data-target="4"><span>05</span></button></li>
</ul>

<body class="slider">
    {{> block-section-illu-left }}
    {{> block-section-3-colonnes }}
    {{> block-section-partners }}
    {{> block-section-actu }}
    {{> block-section-illu-right }}
    {{> footer-footer }}
</body>
