<header class="home">
    {{> header-nav-home }}
</header>

<ul class="nav-slider">
    <li><button type="button" class="btn-slider triggered" data-target="0">01</button></li>
    <li><button type="button" class="btn-slider" data-target="1">02</button></li>
    <li><button type="button" class="btn-slider" data-target="2">03</button></li>
    <li><button type="button" class="btn-slider" data-target="3">04</button></li>
    <li><button type="button" class="btn-slider" data-target="4">05</button></li>
</ul>

<body class="slider">
    {{> block-section-illu-left }}
    {{> block-grid-3 }}
    {{> block-section-illu-left }}
    {{> block-section-actu }}
    {{> block-section-illu-right }}
    {{> footer-footer }}
</body>
