<div class="wrapper-illustr">

    <div>
        <h5>Une certif reconnue.</h5>
        <img class="illust-img" src="http://www.opquast.viviane-gonzalez.fr/wp-content/uploads/2018/06/certif-illu.svg">
    </div>
    <div>
        <h5>Une certif reconnue.</h5>
        <img class="illust-img" src="http://www.opquast.viviane-gonzalez.fr/wp-content/uploads/2018/06/HOME_PK1_.svg">
    </div>
    <div>
        <h5>Un réseau de certifiés et de partenaires</h5>
        <img class="illust-img" src="http://www.opquast.viviane-gonzalez.fr/wp-content/uploads/2018/06/HOME_PK2.svg">
    </div>
    <div>
        <h5>Un examen accessible en ligne</h5>
        <img class="illust-img" src="http://www.opquast.viviane-gonzalez.fr/wp-content/uploads/2018/06/HOME_PK3.svg">
    </div>
     <div>
        <h5>Devenir partenaire</h5>
        <img class="illust-img" src="http://www.opquast.viviane-gonzalez.fr/wp-content/uploads/2018/06/HOME_PARTNER.svg">
    </div>
    <div>
        <h5>La checklists Opquast</h5>
        <img class="illust-img" src="http://www.opquast.viviane-gonzalez.fr/wp-content/uploads/2018/06/HOME_CHEKLISTS.svg">
    </div>
    <div>
        <h5>La certification</h5>
        <img class="illust-img" src="http://www.opquast.viviane-gonzalez.fr/wp-content/uploads/2018/06/CERTIF_ILLU-1.svg">
    </div>
    <div>
        <h5>Passage du test sur plateforme</h5>
        <img class="illust-img" src="http://www.opquast.viviane-gonzalez.fr/wp-content/uploads/2018/06/CERTIF_ILLU-2.svg">
    </div>
    <div>
        <h5>Durée examen</h5>
        <img class="illust-img" src="http://www.opquast.viviane-gonzalez.fr/wp-content/uploads/2018/06/CERTIF_ILLU-3.svg">
    </div>
    <div>
        <h5>Niveau d'expertise Opquast</h5>
        <img class="illust-img" src="http://www.opquast.viviane-gonzalez.fr/wp-content/uploads/2018/06/CERTIF_ILLU-4.svg">
    </div>
</div>
