<footer class="main-footer">
    <div class="wrapper-xl">
        <div class="grid-3">
            <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
                <li><a href="#">Link 5</a></li>
                <li><a href="#">Link 6</a></li>
                <li><a href="#">Link 7</a></li>
            </ul>
            <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
                <li><a href="#">Link 5</a></li>
                <li><a href="#">Link 6</a></li>
                <li><a href="#">Link 7</a></li>
            </ul>
            <div class="info-footer">
                <p> NEWSLETTER GRAVITY FORM</p>
                <ul>
                    <li>FB</li>
                    <li>TW</li>
                    <li>IT</li>
                </ul>
                <p class="coordonnees"><b>Opquast</b> • SAS au capital de 125 748€ • 18, rue Lucien Granet 33150,<br>
                Cenon, France • Tél. +33 5 56 401 402 <br>
                N° organisme de formation : 72.33.05637.33</p>
            </div>
        </div>
        <p>© 2018 Opquast - Tous droits réservés </p>
    </div>
</footer>