$margin-mob : 2rem;
$margin-tab : 6rem;
$margin-desktop : 12rem;

$breakpoint-sm: 32.5em; //tel
$breakpoint-grid : 37.5em; //600px
$breakpoint-md: 50em; //tablette
$breakpoint-xl: 75em; //1200px
$breakpoint-nav : 75em; //960px 60em

$max-grid : 4;
$gutter : 3rem;

$yellow: #FFC900;
$green: #1AC29D;
$navy: #141E54;

$font-title : 'geomanist';
$font-content : 'maison-neue';
