$margin-mob : 2rem;
$margin-tab : 6rem;
$margin-desktop : 11rem;

$breakpoint-sm: 32.5em; //tel
$breakpoint-grid : 37.5em; //600px
$breakpoint-md: 50em; //tablette
$breakpoint-xl: 62.5em; //1200px

$max-grid : 4;
$gutter : 3rem;

$yellow: #FFC900;
$green: #1AC29D;
$navy: #141E54;

$dark-yellow: #F1BE00;
$dark-green: #15B18E;
$blue: #1D2D7F;

$dark-grey: #888888;
$grey:#dddddd;
$light-grey: #f8f8f8;

$font-title : 'geomanist';
$font-content : 'Maison Neue';
