<section class="title-banner banner-certif section section-slider">
    <div class="title wrapper-xl">
        <div class="content">
            <header class="title-section">
                <h1>La certification des experts du web !</h1>
            </header>
            <figure>
                <img src="http://www.opquast.viviane-gonzalez.fr/wp-content/uploads/2018/06/certif-illu.svg">
            </figure>
            <p class="reveal-content-left">
                Votre certification officielle de maîtrise de la qualité en projet web. Pour vous préparer au passage de la certification, vous accédez à une plateforme d’entraînement en ligne.
            </p>
        </div>
    </div>

    <nav class="ancre">
        <ul>
            <li class="active">Présentation</li>
            <li>Le déroulement</li>
            <li>Formations</li>
            <li>Tarifs</li>
        <ul>
    </nav>

</section>
