<header class="title-banner">
    {{> header-nav }}
    {{> header-breadcrumb }}
    <div class="title wrapper-xl">
        <h1 data-text="Les bonnes pratiques">
            Les bonnes pratiques
        </h1>
        <a href="#" title="Aller sur la page pour commander le livre des Bonnes Pratiques web" class="btn btn-yellow"><span>Commander le livre</span></a>
    </div>
</header>
