<div class="nav-sous-menu-checklist">
    <ul>
        <li><a>Qualité web</a></li>
        <li class="active"><a>Web mobile</a></li>
        <li><a>SEO</a></li>
        <li><a>Performance</a></li>
        <li><a>Eco-conception web</a></li>
        <li><a>Les ateliers Opquast</a></li>
    </ul>
</div>