<article class="critere-item critere-interraction">
    <header>
        <div class="category-critere">
            <p>Les intéractions - Critère n°1</p>
            <p>Créé le 16 janvier 2015</p>
        </div>
        <h3>
            Les champs de saisie de type mail, URL, téléphone,
            nombre, recherche, mots de passe, heure et date sont
            dotés du type approprié.
        </h3>
    </header>

    <div class="content wysiwyg">
        <h4>Objectifs :</h4>
        <ul>
            <li>Garantir la lisibilité du contenu lorsque le zoom est utilisé.</li>
            <li>Permettre à l'utilisateur d'adapter l'affichage à ses besoin ou préférences</li>
        </ul>
        <h4>Solution technique :</h4>
        <ul>
            <li>Utiliser les propriétés CSS de mise en page de manière à permettre un rendu élastique.</li>
            <li>Limiter le recours au positionnement absolu ou fixe. Éviter le recours à javascript pour fixer un contenu à l'écran.</li>
        </ul>
    </div>
</article>
