<div class="wrapper-md">
    <div class="paginate-critere">
        <button type="button" class="btn-paginate btn-checklist-prec">
            <span class="visuallyhidden">Aller au critère précédent</span>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="25px" viewBox="0 0 16 25" version="1.1">
                <!-- Generator: Sketch 49.3 (51167) - http://www.bohemiancoding.com/sketch -->
                <title>Chevron-left</title>
                <desc>Created with Sketch.</desc>
                <defs/>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Checklist" transform="translate(-596.000000, -1639.000000)" fill="#FFFFFF" fill-rule="nonzero">
                        <g id="pager" transform="translate(390.000000, 1621.000000)">
                            <g id="changerpage" transform="translate(184.000000, 0.000000)">
                                <g id="page">
                                    <g id="Chevron-left" transform="translate(30.000000, 30.166667) rotate(180.000000) translate(-30.000000, -30.166667) translate(22.000000, 17.666667)">
                                        <polygon id="Line" points="10.3666667 12.3333333 0.933333333 21.7666667 3.3 24.1333333 15.0666667 12.3333333 3.3 0.533333333 0.933333333 2.9"/>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </button>
        <p>
            <span class="num-slide">1</span> sur <span class="total-slide">2</span>
        </p>
        <button type="button" class="btn-paginate btn-checklist-suiv">
            <span class="visuallyhidden">Aller au critère suivant</span>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="25px" viewBox="0 0 16 25" version="1.1">
                <!-- Generator: Sketch 49.3 (51167) - http://www.bohemiancoding.com/sketch -->
                <title>Chevron-left</title>
                <desc>Created with Sketch.</desc>
                <defs/>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Checklist" transform="translate(-596.000000, -1639.000000)" fill="#FFFFFF" fill-rule="nonzero">
                        <g id="pager" transform="translate(390.000000, 1621.000000)">
                            <g id="changerpage" transform="translate(184.000000, 0.000000)">
                                <g id="page">
                                    <g id="Chevron-left" transform="translate(30.000000, 30.166667) rotate(180.000000) translate(-30.000000, -30.166667) translate(22.000000, 17.666667)">
                                        <polygon id="Line" points="10.3666667 12.3333333 0.933333333 21.7666667 3.3 24.1333333 15.0666667 12.3333333 3.3 0.533333333 0.933333333 2.9"/>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </button>
    </div>
    <div class="center">
        <button type="button" class="btn btn-light-yellow btn-checklist-all" data-type="interraction"><span>Charger tous les critères</span></button>
    </div>
</div>
