<section class="wrapper-xl exemple-layout">
    <header>
        <h2>Grid 3</h2>
    </header>
    <div class="grid-3">
        <article>
            <h2>Lorem ipsum</h2>
            <p>
                Lorem ipsum dolor amet chillwave blue bottle enamel pin pop-up gastropub twee.
                Tattooed snackwave af try-hard aesthetic meggings. Disrupt pickled shoreditch
                VHS YOLO raw denim 90's taiyaki biodiesel, seitan echo park DIY man bun. Offal
                adaptogen jean shorts, XOXO williamsburg tofu bitters enamel pin ugh hella.
            </p>
        </article>
        <article>
            <h2>Lorem ipsum</h2>
            <p>
                Lorem ipsum dolor amet chillwave blue bottle enamel pin pop-up gastropub twee.
                Tattooed snackwave af try-hard aesthetic meggings. Disrupt pickled shoreditch
                VHS YOLO raw denim 90's taiyaki biodiesel, seitan echo park DIY man bun. Offal
                adaptogen jean shorts, XOXO williamsburg tofu bitters enamel pin ugh hella.
            </p>
        </article>
        <article>
            <h2>Lorem ipsum</h2>
            <p>
                Lorem ipsum dolor amet chillwave blue bottle enamel pin pop-up gastropub twee.
                Tattooed snackwave af try-hard aesthetic meggings. Disrupt pickled shoreditch
                VHS YOLO raw denim 90's taiyaki biodiesel, seitan echo park DIY man bun. Offal
                adaptogen jean shorts, XOXO williamsburg tofu bitters enamel pin ugh hella.
            </p>
        </article>
        <article>
            <h2>Lorem ipsum</h2>
            <p>
                Lorem ipsum dolor amet chillwave blue bottle enamel pin pop-up gastropub twee.
                Tattooed snackwave af try-hard aesthetic meggings. Disrupt pickled shoreditch
                VHS YOLO raw denim 90's taiyaki biodiesel, seitan echo park DIY man bun. Offal
                adaptogen jean shorts, XOXO williamsburg tofu bitters enamel pin ugh hella.
            </p>
        </article>
    </div>
</section>
