<section class="section-slider">
    <header class="title-bloc wrapper-md" data-keyword="Présentation">
        <h2 class="title-3">
            <span>Présentation</span>
            <span>La certification de référence pour la maîtrise  de la qualité web</span>
        </h2>
    </header>
</section>
