<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #CCCCCC;"></span>
		<span class="sg-label">
			$grey <br />
			#CCCCCC
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f1f0f0;"></span>
		<span class="sg-label">
			$light-grey <br />
			#f1f0f0
		</span>
	</li>
</ul>