<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #FFC900;"></span>
		<span class="sg-label">
			$yellow <br />
			#FFC900
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #1AC29D;"></span>
		<span class="sg-label">
			$green <br />
			#1AC29D
		</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #141E54;"></span>
		<span class="sg-label">
			$navy <br />
			#141E54
		</span>
	</li>
</ul>
