<section class="section section-timeline section-slider">
    <div class="wrapper-xl">

        <header class="title-bloc wrapper-md" data-keyword="Déroulement">
            <h2>
                <span>Déroulement</span>
                <span>Comment obtenir la certification Opquast ?</span>
            </h2>
            <p>
                Pour vous aider à obtenir votre certification Opquast, nous mettons à votre disposition un guide lors de votre inscription en ligne. De plus, vous avez un accès à la plateforme d’entraînement en ligne pendant une durée de 3 mois.
            </p>
        </header>

        <div class="grid-3">
            <div class="item">
                <figure>
                    <img src="../../src/certif-illu.svg" />
                </figure>
                <p>
                    Le passage du test final se fait directement sur la plateforme pour plus d’accessibilité.
                </p>
            </div>

            <div class="item">
                <figure>
                    <img src="../../src/certif-illu.svg" />
                </figure>
                <p>
                    L’examen compte 125 questions et sa durée est de 1h30min.
                </p>
            </div>

            <div class="item">
                <figure>
                    <img src="../../src/certif-illu.svg" />
                </figure>
                <p>
                    Le score est compris entre 0 et 1000 points. Si vous obtenez plus de 500 points, vous obtenez
                    un badge correspondant aux 5 niveaux d’expertise de Opquast.
                </p>
            </div>
        </div>
    </div>
</section>
