<section id="tarif" class="section section-tarif section-slider">
    <header class="title-bloc" data-keyword="Tarifs">
        <h2 class="title-3">
            <span>Tarifs</span>
            Les différents forfaits personnalisés
        </h2>
    </header>
    <div id="pricing-table">
        <div class="plan plan1">
            <div class="content-price">
                <div class="price">150 €</div>
                <div class="tva">(180 - TVA = 150)</div>  
                <div class="forfait">Forfait entreprise / école</div>      
                <div>
                    <ul>
                        <li data-tarif="1">Certification Opquast</li>
                        <li data-tarif="1">Cours en ligne</li>
                        <li data-tarif="1">Livre Qualité du Web</li>
                        <li data-tarif="0">Formation présentielle</li>			
                    </ul>
                </div>
            </div>         
            <a class="signup btn btn-yellow" href="">S'inscrire</a>
        </div>
        <div class="plan plan2">
            <div class="content-price">
                <div class="price">180 €</div>
                <div class="tva">(180 - TVA = 150)</div>  
                <div class="forfait">Forfait indépendant</div>      
                <div>
                    <ul>
                        <li data-tarif="1">Certification Opquast</li>
                        <li data-tarif="1">Cours en ligne</li>
                        <li data-tarif="1">Livre Qualité du Web</li>
                        <li data-tarif="0">Formation présentielle</li>			
                    </ul>
                </div>
            </div>     
            <a class="signup btn btn-yellow" href="">S'inscrire</a>    
        </div>
        <div class="plan plan3">
            <div class="content-price">
                <div class="price">Sur devis</div>
                <div class="tva">(180 - TVA = 150)</div>  
                <div class="forfait">Forfait certification + formation</div>      
                <div>
                    <ul>
                        <li data-tarif="1">Certification Opquast</li>
                        <li data-tarif="1">Cours en ligne</li>
                        <li data-tarif="1">Livre Qualité du Web</li>
                        <li data-tarif="1">Formation présentielle</li>			
                    </ul>
                </div>
            </div>
            <a class="signup btn btn-yellow" href="">S'inscrire</a>     
        </div>
    </div>
</section>
