
[class *= "section-illu"]{

    @include media($breakpoint-xl){
        padding: 0;
    }

    &.section-illu-right{
        figure {
            left: 0;
        }

        .content{
            margin-left: 5rem;

            @include media($breakpoint-xl){
                width: 50%; margin-left: auto;
            }
        }
    }

    &.section-illu-left {
        figure {
            right: 0;
        }
    }

    figure{
        position: absolute; top: -2.5rem;
        margin: 3rem 0;
        z-index: -1;
        width: 60%;

        @include media($breakpoint-xl){
            position: absolute; top: 0; bottom: 0; right: auto;
            width: 50%;
        }

        img{
            max-height: 30rem;

            @include media($breakpoint-xl){
                max-height: inherit;
            }

            @supports (object-fit: contain) {
                object-fit: contain;
                width: 100%; height: 100%;
            }
        }
    }

    .content{
        @include media($breakpoint-xl){
            max-width: 60%;
        }

        p{
            margin: 3rem 0;

            @include media($breakpoint-grid){
                margin: 6rem 0;
            }
        }
    }
}

.section-actu{
    .wrapper-xl{
        display: flex;
        flex-flow: column nowrap; align-items: center;
    }

    .title-section{
        text-align: center;
    }

    figure{
        width: 100%;
        margin: 4rem auto;

        img{
            max-height: 30rem;
        }
    }
}

.section-3-col{

    .title-section{
        text-align: center;

        @include media($breakpoint-grid){
            text-align: left;
        }
    }

    .grid-3{
        margin-left: 0; margin-right: 0;

        .une-col{
            display: flex; justify-content: space-between;
            flex-flow: row nowrap;
            margin: 6rem 0 0 0;

            @include media($breakpoint-grid){
                display: block;
                margin: 3rem;
            }

            &:nth-child(2){

                figure{
                    order: 2;

                    @include media($breakpoint-grid){
                        order: 1;
                    }
                }

                .content{
                    order: 1;
                    margin-left: 0; margin-right: 3rem;

                    @include media($breakpoint-grid){
                        order: 2;
                    }
                }
            }


            img{
                flex: 0 0 40%;
                max-width: 100%;
                height: auto;
                margin-bottom: 3rem;
            }

            .content{
                flex: 0 0 60%; margin-left: 3rem;

                &:nth-child(2){
                    order: 1;

                    @include media($breakpoint-grid){
                        order: 2;
                    }
                }
            }

            h4{
                margin-bottom: 1.5rem;
            }
        }
    }
}

.section-presentation{
    .title-bloc{
        position: relative;
        margin-bottom: 7rem;
        h2{
            max-width: 85%;
            text-align-last: center;
            margin: auto;
            span{
                text-align-last: left;
                display: block;
                font-family: $font-title;
                font-size: 20px;
                font-weight: 500;
                color: $navy;
            }
        }
        &::after{
            content: attr(data-keyword);
            font-size: 11em;
            color: #e9e9e9;
            position: absolute;
            transform: translate( -50%, -50%);
            top: 20%;
            left: 50%;
            z-index: -1;
            font-family: $font-title;
            font-weight: bolder;
        }
    }
    .wrapper-video {
        max-width: 560px;
        margin: auto;

        div {
            position: relative;
            height: 0;
            padding-bottom: 56.25%;

            video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

}

.section-timeline{

    .grid-3{
        margin: 5rem 0 0 0;

        @include media($breakpoint-xl){
            margin-left: -3rem; margin-right: -3rem;
        }
    }

    .item{
        position: relative;
        flex: 0 0 100%; margin: 0;
        display: flex;
        flex-flow: row nowrap; align-items: center;

        @include media($breakpoint-xl) {
            display: block;
            flex-basis: calc( ( 100% / 3 ) - #{$gutter} * 2);
            margin: $gutter;
        }

        &::before{
            content: "";
            position: absolute; left: calc(30% + 4rem); top: 0; bottom: 0;
            height: auto; width: 0.3rem;
            background-color: $grey;
            transform: translate(-50%,0);

            @include media($breakpoint-xl) {
                height: 0.3rem; width: auto;
                top: 24rem; left: -3rem; right: -3rem;
                transform: translate(0,-50%);
            }
        }

        figure{
            flex: 0 0 30%;
            position: relative;
            max-height: 20rem;

            &::before{
                content: "";
                position: absolute; bottom: 50%; right: -4rem;
                height: 1rem; width: 1rem;
                border-radius: 100%;
                transform: translate(50%,50%);
                background-color: $grey;

                @include media($breakpoint-xl) {
                    bottom: -4rem; left: 50%; right: auto;
                    transform: translate(0,50%);
                }
            }

            img{
                @supports(object-fit: contain){
                    width: 100%; height: 20rem;
                    object-fit: contain;
                }
            }
        }

        p{
            flex: 0 0 calc(70% - 8rem);
            margin-left: 8rem;

            @include media($breakpoint-xl) {
                margin-top: 8rem; margin-left:0;
                text-align: center;
            }
        }
    }
}
