.arrowUp, 
.arrowDown{
    position:fixed;
    z-index:99;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-left: -38px;
    left: 50%;
}
//Systeme btn up and down TEMPO
// .arrowDown{
//     bottom: 20px;
//     border-width: 38.5px 34px 0 38.5px;
//     border-color: #000 transparent transparent transparent;
// }
// .arrowUp{
//     top: 20px;
//     border-width: 0 38.5px 34px 38.5px;
//     border-color: transparent transparent #000 transparent;
// }
button{
    &:focus{
        outline: none;
    }
}
