button{
    &:focus{
        outline: none;
    }
}


.btn{

    font-family: $font-title;
    font-size: 0.925em;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: $yellow;
    padding: 2rem 7.5rem;
    border-radius: 35px;
    border: none;
    appearance: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover{
        background-color: #F1BE00;
    }
}