button{
    &:focus{
        outline: none;
    }

    cursor: pointer;
}

.btn{
    display: inline-block;
    padding: 1.5rem 7rem;
    border-radius: 3rem; border: none;
    background-color: transparent;
    text-decoration: none;

    span{
        color: #fff; text-transform: uppercase; text-decoration: none;
        font-size: 0.9em; font-family: $font-title; letter-spacing: 0.2rem;
    }

    &.btn-yellow{
        background-color: $yellow;
    }

    &.btn-green{
        background-color: $green;
    }

    &.btn-navy{
        background-color: $navy;
    }

    &.btn-light-yellow{
        background-color: transparent; border: 0.3rem solid $yellow;

        span{
            color: $yellow;
        }
    }
}
