.filter-checklist{
    .statut-checklist{
            font-family: $font-title;
            font-size: 20px;
            letter-spacing: 2px;
            color: $navy;
    }
    .search{
        input{
            width: 853px; max-width: 100%;
            height: 49px;
            border-radius: 11px;
            background-color: #f8f8f8;
            border: solid 2px #f8f8f8;
            font-size: 20px;
            letter-spacing: 2px;
            color: #898989;
            padding: 0 1.5rem;
        }
    }
    .wrapper-taxo-categ{
        display: flex;
        flex-wrap: wrap;
        padding: 5rem 0;
        .une-categorie{
            border-radius: 24px;
            background-color: #f8f8f8;
            margin: 1.5rem;

            flex: 0 0 calc(10% - 3rem);
            padding: 1rem 0;
            text-align: center;
            cursor: pointer;
            *{
                pointer-events: none;
            }

            &:nth-child(10n+1){
                margin-left: 0;
            }
            &.actif{
                border: solid 1px $yellow;
                .type{
                    color: $yellow;
                }
                svg{
                    path{
                        fill: $yellow;
                    }
                }
                span{
                    color: $yellow;
                }
            }
            svg{
                margin: auto;
                width: auto;
                height: 10rem;
                display: block;
                padding-top: 2rem;
                path, rect{
                    fill: #888888;
                }
            }
            .type{
                font-size: 1em;
                line-height: normal;
                text-align: center;
                color: #888888;
                text-align: center;
            }
            span{
                color: #888888;
                font-size: 0.75em;
            }
        }
    }
}
