.paginate-critere{
    display: flex; margin: 6rem 0;
    flex-flow: row nowrap; justify-content: center; align-items: center;

    .btn-paginate{
        display: flex; height: 6rem; width: 6rem;
        flex-flow:row nowrap; justify-content: center; align-items: center;
        border: none; border-radius: 100%;
        background-color: $yellow;

        &:last-child{
            transform: rotate(180deg);
        }
    }

    p{
        color: $yellow; margin: 0 5rem;
        font-size: 1.2em;
    }

    + .center{
        margin-bottom: 10rem;
    }
}
