<div style="width: 100%; max-width: 1200px">
    <div class="text">
        <p>Quod si rectum statuerimus vel concedere amicis, quidquid velint, vel impetrare ab iis, quidquid velimus, perfecta quidem sapientia si simus, nihil habeat res vitii; sed loquimur de iis amicis qui ante oculos sunt, quos <a href="#">vidimus aut de quibus memoriam</a> accepimus, quos novit vita communis. Ex hoc numero nobis exempla sumenda sunt, et eorum quidem maxime qui ad sapientiam proxime accedunt.</p>

        <p><strong>Nam sole orto magnitudine</strong> angusti gurgitis <b>sed profundi a transitu</b> arcebantur et dum piscatorios quaerunt lenunculos vel innare temere contextis cratibus parant, effusae legiones, quae hiemabant tunc apud Siden, isdem impetu occurrere veloci. et signis prope ripam locatis ad manus comminus conserendas denseta scutorum conpage semet scientissime praestruebant, ausos quoque aliquos fiducia nandi vel cavatis arborum truncis amnem permeare latenter facillime trucidarunt.</p>

        <p><em>Hanc regionem praestitutis</em> celebritati diebus <i>invadere parans</i> dux ante edictus per solitudines Aboraeque amnis herbidas ripas, suorum indicio proditus, qui admissi flagitii metu exagitati ad praesidia descivere Romana. absque ullo egressus effectu deinde tabescebat immobilis.</p>

        <p>Quo cognito <u>onstantius ultra mortalem</u> modum exarsit ac nequo casu idem Gallus de futuris incertus agitare quaedam conducentia saluti suae per itinera conaretur, remoti sunt omnes de industria milites agentes in civitatibus perviis.</p>

        <ul>
            <li>Quae hiemabant tunc apud Siden</li>
            <li>Isdem impetu occurrere veloc</li>
            <li>Signis prope ripam locatis ad manus</li>
        </ul>
        

        <ol>
            <li>Quae hiemabant tunc apud Siden</li>
            <li>Isdem impetu occurrere veloc</li>
            <li>Signis prope ripam locatis ad manus</li>
        </ol>

    </div><!--end .text-->
</div>