<section class="section section-illu-right section-slider">
    <div class="wrapper-xl">
        <div class="content">
            <header class="title-section">
                <span class="number-section">.05</span>
                <h2>Les checklists Opquast</h2>
            </header>
            <figure>
                <img src="http://www.opquast.viviane-gonzalez.fr/wp-content/uploads/2018/06/HOME_CHEKLISTS.svg" />
            </figure>
            <p class="reveal-content-right">
                Découvrez nos diverses checklists des bonnes pratiques pour
                la gestion de vos projets web. Ces outils vous permettent
                d’améliorer votre productivité et de respecter les bonnes pratiques du web.
            </p>
            <a href="#" title="Lorem ipsum" class="link link-yellow"><span>En savoir plus<span></a>
        </div>
    </div>
</section>
