<section class="section section-illu-left section-slider">
    <div class="wrapper-xl">
        <div class="content">
            <header class="title-section">
                <span class="number-section">.01</span>
                <h2>La certification des experts du web !</h2>
            </header>
            <figure>
                <img src="../../src/certif-illu.svg" />
            </figure>
            <p>
                La certification Opquast facilite la gestion de vos
                projets web. Pour vous préparer au passage de la certification,
                vous accédez à une plateforme d’entraînement en ligne.
                Cette certification professionnalisante s’adresse aux professionnels
                du web mais aussi à toute personne souhaitant obtenir
 un certificat de compétences dans le domaine du web.
            </p>
            <a href="#" title="Lorem ipsum" class="link link-yellow"><span>En savoir plus<span></a>
        </div>
    </div>
</section>
