<section class="section section-actu section-slider">
    <div class="wrapper-md">
        <header class="title-section">
            <span class="number-section">.04</span>
            <h2>Nos actualités du web</h2>
        </header>
        <article>
            <figure class="cover">
                <img src="http://www.opquast.viviane-gonzalez.fr/wp-content/uploads/2018/06/bureau-ordi.jpg" />
            </figure>
            <div class="reveal-content-bottom">
                <p class="info">Par Élie Sloïm, le 20 juin 2018, dans Partenaires</p>
                <h3>Nouvelles écoles partenaires : Telecom ParisTech, Skema BS, Sup’de Com</h3>
                <p>
                    « Opquast accueille plusieurs nouvelles écoles partenaires ce mois-ci. Encore une fois,
                    la diversité des écoles et filières concernées montre de manière assez évidente
                    l’intérêt et la transversalité de la certification “Maîtrise de la qualité en
                    projet Web” pour les futurs professionnels du secteur… »
                </p>
                <a href="#" title="Lorem ipsum" class="link link-yellow"><span>En savoir plus<span></a>
            </div>
        </article>
    </div>
</section>
