<a href="#" title="Lorem ipsum" class="link link-yellow"><span>Lien</span></a>
<a href="#" title="Lorem ipsum" class="link link-green"><span>Lien</span></a>
<a href="#" title="Lorem ipsum" class="link"><span>Lien</span></a>
