<button type="button" role="button" class="btn btn-yellow"><span>Button</span></button>
<button type="button" role="button" class="btn btn-green"><span>Button</span></button>
<button type="button" role="button" class="btn btn-navy"><span>Button</span></button>
